# This is a basic workflow to help you get started with Actions

name: workflow-test

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  phpcs:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - run: composer install -d ./phpcs/ --verbose --prefer-dist --no-progress --no-interaction --no-dev --optimize-autoloader --no-suggest
      - run: ./.phpcs/vendor/bin/phpcs --standard=PSR12 ./content/themes/**/*.php
